@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ebebeb;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 23px;
}

body .container {
  margin-left: 32%;
  margin-right: 32%;
}

body .container header {
  padding-top: 1rem;
  padding-bottom: 25px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

body .container #Tim {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 3px solid #cccccc;
  margin: 0 auto;
  display: block;
}

body .container h1 {
  color: #dd5555;
  text-align: center;
  margin-bottom: auto;
  font-weight: 800;
}

body .container h2 {
  text-align: center;
  color: #7d7d7d;
}

body .container #TextIntro {
  color: #7d7d7d;
  line-height: 1.5rem;
  padding-left: 10px;
  text-align: left;
}

body .container #Button {
  height: 1.5rem;
  background-color: #dd5555;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

body .container #Button:hover {
  background-color: brown;
}

body nav #Social {
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav ul {
  list-style: none;
}

body nav a {
  text-decoration: none;
}

body nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: #cccccc;
}

body nav #Facebook:hover {
  color: #0b84ee;
}

body nav #Linkedin:hover {
  color: #0a66c2;
}

body nav #Twitter:hover {
  color: #1d9bf0;
}

body #Movies {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}

body #Movies span {
  background-color: #d4d4d4;
}

body #Movies #SpaceOdyssey,
body #Movies #MisterHulot,
body #Movies #Alien {
  width: 100px;
  height: 125px;
  margin-top: 25px;
}

body #Movies h3 {
  color: #7d7e80;
}

body #Movies .Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}

body #Movies .article {
  color: #8f8280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
}
/*# sourceMappingURL=style.css.map */